<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/logo.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="roboto-regular">
    <div class="main">
      <nav class="nav">
        <div class="logo-container">
          <img src="/logo.png" alt="" />
        </div>
        <div class="searchDiv">
          <input type="search" class="search" placeholder="Enter City" />
          <div class="searchBtn">
            <span class="material-symbols-outlined"> search </span>
          </div>
        </div>
        <div class="mode">
          <div class="innermode"></div>
        </div>
      </nav>
      <div class="basicInfo">
        <div style="display: flex">
          <span class="material-symbols-outlined" style="padding-top: 3px">
            location_on
          </span>
          <p class="placeName">Ranchi</p>
        </div>
        <p class="lat">Latitude:83.5</p>
        <p class="lon">Longitude:23</p>
      </div>
      <div class="tempInfo">
        <img src="/logo.png" alt="LOGO" class="logo" />
        <h1 class="temp">29&deg;C</h1>
        <div>
          <h3 class="desc">Partly Cloudy</h3>
          <h4 class="feelslike">Feels like 31&deg;C</h4>
        </div>
      </div>
      <div class="otherInfo">
        <div class="item">
          <p>Wind</p>
          <p>8 km/h E</p>
        </div>
        <div class="item">
          <p>Wind</p>
          <p>8 km/h E</p>
        </div>
        <div class="item">
          <p>Wind</p>
          <p>8 km/h E</p>
        </div>
        <div class="item">
          <p>Wind</p>
          <p>8 km/h E</p>
        </div>
        <div class="item">
          <p>Wind</p>
          <p>8 km/h E</p>
        </div>
        <div class="item">
          <p>Wind</p>
          <p>8 km/h E</p>
        </div>
      </div>
      <div class="footer">
        <div class="fiveDay"></div>
        <div class="thought">
          <div class="card">
            <div style=" width: 100%; font-size: 25px; margin-bottom: 10px;">
              <p><i>Quote of the day,</i></p>
            </div>
            <p>
            <i><q><span class="quote">The successful warrior is the average man, with laser-like focus.</span></i></q>
            </p>
            <div style="display: flex; justify-content: end; width: 100%; font-size: 25px;">
              <p><i>~ Anonymous</i></p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
